<section class="page-container">
    <div class="container">
        <article class="single-post">
            <header class="single-post-heading">
                Over ons
            </header>
            <div class="post-content">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <h3 class="title-section-3">Wat wij doen</h3>
                        <div class="title-section-details">
                            Busjehuren.nl is met 100 autoverhuurlocaties de grootste autoverhuurder van Nederland. Wij hebben dus altijd een verhuurlocatie bij u in de buurt! Alle autoverhuurpartners met zorg geselecteerd. Wij vinden het namelijk belangrijk dat u met een goed gevoel
                            en een goede auto de weg op gaat en de servicemedewerkers op de verhuurlocaties zullen hun uiterste best doen om hiervoor zorg te dragen. Daarom zijn al onze partners aangesloten bij de Bovag en controleren wij
                            regelmatig op prijs, kwaliteit en service. Hieronder vindt u een overzicht van alle autoverhuurlocaties:
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-md-5 col-sm-6 hidden-xs">
                        <div class="banner">
                            <div class="border-image">
                                <img src="http://placehold.it/470x343/d1d1d1/ffffff" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </article>
        <!-- single-post-->
    </div>
</section>
<!-- page-container -->

<div class="banner mb-50">
    <img src="http://placehold.it/1900x520/d1d1d1/ffffff" alt="">
</div>

<!-- ACF: TEAM SECTION COLUMNS -->
<section class="section-team">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="title-section-3">Het busjehuren team</h3>
                    <div class="title-section-details">
                        Busjehuren.nl is met 100 autoverhuurlocaties de grootste autoverhuurder van Nederland. Wij hebben dus altijd een verhuurlocatie bij u in de buurt! Alle autoverhuurpartners met zorg geselecteerd.
                    </div>

                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="member-container">
                        <div class="border-image">

                            <img src="http://placehold.it/170x170" alt="">

                        </div>
                        <div class="member-name">
                            Jan Terweij
                        </div>
                        <div class="member-position">
                            Functie omschrijving
                        </div>
                    </div>
                    <!-- member -->

                </div>
                <!-- col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="member-container">
                        <div class="border-image">

                            <img src="http://placehold.it/170x170" alt="">

                        </div>
                        <div class="member-name">
                            Melissa van den Heuvel
                        </div>
                        <div class="member-position">
                            Functie omschrijving
                        </div>
                    </div>
                    <!-- member -->

                </div>
                <!-- col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="member-container">
                        <div class="border-image">

                            <img src="http://placehold.it/170x170" alt="">

                        </div>
                        <div class="member-name">
                            Jan Terweij
                        </div>
                        <div class="member-position">
                            Functie omschrijving
                        </div>
                    </div>
                    <!-- member -->

                </div>
                <!-- col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="member-container">
                        <div class="border-image">

                            <img src="http://placehold.it/170x170" alt="">

                        </div>
                        <div class="member-name">
                            Melissa van den Heuvel
                        </div>
                        <div class="member-position">
                            Functie omschrijving
                        </div>
                    </div>
                    <!-- member -->

                </div>
                <!-- col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="member-container">
                        <div class="border-image">
                            <img src="http://placehold.it/170x170" alt="">
                        </div>
                        <div class="member-name">
                            Melissa van den Heuvel
                        </div>
                        <div class="member-position">
                            Functie omschrijving
                        </div>
                    </div>
                    <!-- member -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->

        </div>
        <!-- container -->
    </div>
</section>
<!-- / ACF: TEAM SECTION COLUMNS  -->

@Html.Action("_NewsRelated","Archive")

<div class="wrapper-search-form">
    @{
    Html.RenderPartial("_FilterLocationFormStatic");
}
</div>
<!-- =========== USER REVIEW =========== -->
<section class="section-white section-user-review">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h2 class="title-section-left">ervaringen van <br class="hidden-xs">anderen</h2>
            </div>
            <!-- col -->
            <div class="col-md-8 col-xs-12 col-sm-8">
                <article class="article-review">
                    <div class="user-review">
                        <h3>Flexibel en duidelijk</h3>
                        <div class="rate-block">
                            <div class="icon-star"></div>
                            <div>Score 10/10</div>
                        </div>
                    </div>

                    <div class="text-reviews">
                        <div class="review-content">
                            Busje opgehaald in Rotterdam en in Amersfoort teruggebracht. Nette en schone bus gekregen. We haalden het niet om de bus op tijd in te leveren, maar mochten kosteloos deze de ochtend erna inleveren. Vriendelijke mensen, goede service. Helemaal prima!
                            <br>
                            <div class="r-member">
                                door Dhr. Dekker op 2. nov 2016
                            </div>
                        </div>
                        <div class="review-footer">Bekijk alle reviews op Trustpilot.nl</div>
                    </div>
                </article>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- =========== /USER REVIEW =========== -->