@model string

<div class="yellow-box">
    <div class="y-name">
        Autoverhuur in @Model
    </div>
    <div class="y-desc">
        Liever een auto huren in @Model? <a href="@Url.Action("Index", "Home")">Huureenauto.nl</a> biedt u het grootste aanbod huurauto's en bovendien huurt u altijd 100% kilometervrij!
    </div>
</div>
